
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


body {
  background-color: #232323;
  font-family: "Hyundai Sans Head","Arial",sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 10px;

}

.videoContainer {
  position: relative;
}

.opacity-0 {
  opacity: 0 !important;
}

.videoAudioOverlay{
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.25s opacity linear;
}

.content-large {
  width: 100%;
  height: 800px;
  background-color: #121212;
  margin: 20px 0; 
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;

}

#content-audio-controls {
  width: 100%;
  height: 150px;
  display: none;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  background-color: #131313;
  margin: 10px 0 20px;

}

input[type="range"] {
  width:400px;
}

#content-audio-controls h2, .content-messaging {
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  align-self: center;
  display: flex;
  align-content: center;
  display: flex;
  align-items: center;
  padding: 40px 0 20px;

}

video {
  cursor: pointer;
  width: 100%;
  object-fit: fill;
}


.s7videoviewer .s7controlbar {
  display: none !important;
}


@media screen and (max-width: 640px) {
  video{ 
    height: 400px;
    object-fit: cover;
  }

}

.gradientOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(35, 35, 35, 1) 1%, rgba(35, 35, 35, 0.17) 35%, rgba(35, 35, 35, 0) 59%, rgba(35, 35, 35, 0) 76%);
}
 

.volumeWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.play-pause {
  position: absolute;
  top: 20px;
  right: 70px;
  cursor: pointer;
  z-index: 20;
}
.audio-speaker {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  cursor: pointer;
}
  
.opacity-0{
  opacity: 0;  
  display: none;
  z-index: 0 !important;
}

.audio-levels{
  transition: opacity 0.25s .1s;
  display: block;
  z-index: 10;
}

.audio-levels-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: -96px;
  background-color: #ff000000;
  width: 233px;
  height: 41px;
  transform-origin: bottom right;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 10;
}

input[type="range"] {
  background-color: rgba(0,0,0, .3); 
  margin: 0;
  padding: 0;
  width: 160px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.tooltiptext {
  pointer-events: none;
  display: inline-block;
  visibility: hidden;
  width: max-content;
  background-color: #11111177;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 5px;
  position: absolute;
  z-index: 100;
  top: 45px;
  right: 100px;

}

/* .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}*/

.visibility {
  visibility: visible !important;
}
